@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  --primary: #FDEDC4;
  --secondary: #832361;
  --terciary: #BA3089;
  --white: #FFFF;
  --black: #525252;
}

.react-datetime-picker input:focus {
  border: 1px solid rgb(48, 72, 148) !important;
  background-color: none;
}

.react-datetime-picker{
  border: 1px solid rgb(212, 212, 212) !important;
  width:100%;
  border-radius:5px;
}

.react-datetime-picker__wrapper{
  border: 0px solid rgb(200, 51, 51) !important;
}

