.ConteinerReportCierre{
    width: calc(100vw - 250px);
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    margin-left: 250px;
    height: 100vh;
    float:left;
}

.TableReport{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}


.TableHead{
    background: #832361;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

.TableBody{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 22px;
    color: #493F60;
}

.TableBody tr{
    border: 0.5px solid #e0e0e0;
}

.table-wrapper{
    overflow-y:scroll;
    height:80%;
    width:100%;
    padding: 0 20px;
}

th, td{
    padding: 10px 20px;
    width: 140px;
}
